<div class='register-container'>
<!--<div class="nav-bar">
        <a [routerLink]="['/login']" routerLinkActive="active">Login</a>
        <a [routerLink]="['/register']" routerLinkActive="active">Register</a>
    </div> --> 

    <h2>Register</h2>
    <form [formGroup]='registerForm' (ngSubmit)='onSubmit()'>
        <!-- Full Name Input -->
        <input formControlName='fullName' placeholder='Full Name' />
        <div *ngIf="registerForm.get('fullName')?.invalid && (registerForm.get('fullName')?.touched || registerForm.get('fullName')?.dirty)">
            <small class="error" *ngIf="registerForm.get('fullName')?.errors?.['required']">Full Name is required.</small>
        </div>

        <!-- Email Input -->
        <input formControlName='email' placeholder='Email' />
        <div *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.touched || registerForm.get('email')?.dirty)">
            <small class="error" *ngIf="registerForm.get('email')?.errors?.['required']">Email is required.</small>
            <small class="error" *ngIf="registerForm.get('email')?.errors?.['email']">Please enter a valid email.</small>
        </div>

        <!-- Username Input -->
        <input formControlName='username' placeholder='Username' />
        <div *ngIf="registerForm.get('username')?.invalid && (registerForm.get('username')?.touched || registerForm.get('username')?.dirty)">
            <small class="error" *ngIf="registerForm.get('username')?.errors?.['required']">Username is required.</small>
        </div>

        <!-- Password Input -->
        <input formControlName='password' type='password' placeholder='Password' />
        <div *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.touched || registerForm.get('password')?.dirty)">
            <small class="error" *ngIf="registerForm.get('password')?.errors?.['required']">Password is required.</small>
            <small class="error" *ngIf="registerForm.get('password')?.errors?.['minlength']">Password must be at least 4 characters.</small>
        </div>

        <!-- Submit Button -->
        <button type='submit' [disabled]="registerForm.invalid">Register</button>
    </form>
    
    <!-- Error Message Display -->
    <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
    </div>
  

    <div class="login-link">
        Already have an account? 
        <a [routerLink]="['/login']">Login here</a>
    </div>
</div>
