<header class="header">
    <div class="logo">
        <!-- Hamburger Icon -->
        <button class="menu-toggle" (click)="toggleSidebar()">
            <span class="hamburger-icon">&#9776;</span>
        </button>
        <h1>My Dashboard</h1>
    </div>
    <nav class="navigation">
        <ul>
            <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
            <li><a routerLink="/settings" routerLinkActive="active">Settings</a></li>
            <li><a routerLink="/reports" routerLinkActive="active">Reports</a></li>
        </ul>
    </nav>
    <div class="user-profile">
        <div class="user-info">
            <img src="images/userlogo.png" alt="User Avatar" class="avatar" />
            <button (click)="onLogout()" class="logout-button">Logout</button>
        </div>
        <!-- Move username here -->
        <span class="user-name user-name-below">{{ userName }}</span>
    </div>
</header>
